{{ define "banner-h2" }}Belisle Family Reunion 2022{{ end }}
{{ define "banner-img" }}{{ call .URL "/img/banners/home.jpg" }}{{ end }}
{{ define "banner-img-mobile" }}{{ call .URL "/img/banners/home-mobile.jpg" }}{{ end }}
{{ define "banner-class" }}text-white{{ end }}
{{ define "banner" }}
{{ template "banner-tmpl" . }}
{{ end }}

{{ block "content" . }}
<div class="my-5">
  <h1>Price</h1>
  <p>
    Adults (Ages 16 and up) - $110 per person
  </p>
  <p>
    Youth (Ages 5 thru 15) - $55 per person
  </p>
  <p>
    Babies (Under 5) - $10 per person (just to cover the cost of the T-shirt)
  </p>
</div>
{{ end }}
