{{ define "banner-h2" }}Belisle Family Reunion 2022{{ end }}
{{ define "banner-img" }}{{ call .URL "/img/banners/home.jpg" }}{{ end }}
{{ define "banner-img-mobile" }}{{ call .URL "/img/banners/home-mobile.jpg" }}{{ end }}
{{ define "banner-class" }}text-white{{ end }}
{{ define "banner" }}
{{ template "banner-tmpl" . }}
{{ end }}

{{ block "content" . }}
<div class="my-5">
  <p><bold>BFR UPDATE:</bold> Welcome  family. We have set the 2024 BFR reunion up for June 13-16th, 2024. Please mark your calendars for this important event. We hope everyone can attend. We will be at the UGM Camp near Ford, Washington.</p>
  <h2>When</h2>
  <p>Thursday June 13th through Sunday June 16th, 2024</p>
  <h2>Where</h2>
  <!-- <p>
    Cane Ridge West Conference & Retreat Center<br>
    Lincoln, Montana
  </p>
  <p>Website: <a href="https://www.caneridgewest.org/">https://www.caneridgewest.org/</a></p>
  <p>Map: <a href="https://goo.gl/maps/m84Ee9zhe5G6jAYt6">https://goo.gl/maps/m84Ee9zhe5G6jAYt6</a></p> -->
  <p>
    Union Gospel Mission Camp<br>
    6088 Martha Boardman Rd, Ford, WA 99013
  </p>
  <p>Map: <a href="https://goo.gl/maps/XpdjzjmNpF72">https://goo.gl/maps/XpdjzjmNpF72</a></p>
  <h2>RSVP</h2>
  <p>
    Please RSVP with your T-shirt size no later than July 1st 2022 so we have time to get them printed.<br>
    <a href="https://forms.gle/3cTpkVXj4M2hwa7eA">https://forms.gle/3cTpkVXj4M2hwa7eA</a>
  </p>
  <h2>Questions</h2>
  <p>
    Contact Jessica Belisle<br>
    <a href="mailto:belislefamilyreunion@gmail.com">belislefamilyreunion@gmail.com</a><br>
  </p>
</div>
{{ end }}
