{{ define "banner-h2" }}Belisle Family Reunion 2022{{ end }}
{{ define "banner-img" }}{{ call .URL "/img/banners/home.jpg" }}{{ end }}
{{ define "banner-img-mobile" }}{{ call .URL "/img/banners/home-mobile.jpg" }}{{ end }}
{{ define "banner-class" }}text-white{{ end }}
{{ define "banner" }}
{{ template "banner-tmpl" . }}
{{ end }}

{{ block "content" . }}
<div class="my-5">
  <h2>When</h2>
  <p>Aug 11-14 2022</p>
  <h2>Where</h2>
  <p>
    Cane Ridge West Conference & Retreat Center<br>
    Lincoln, Montana
  </p>
  <p>Website: <a href="https://www.caneridgewest.org/">https://www.caneridgewest.org/</a></p>
  <p>Map: <a href="https://goo.gl/maps/m84Ee9zhe5G6jAYt6">https://goo.gl/maps/m84Ee9zhe5G6jAYt6</a></p>
  <h2>RSVP</h2>
  <p>
    RSVP with t-shirt sizes<br>
    <a href="https://forms.gle/3cTpkVXj4M2hwa7eA">https://forms.gle/3cTpkVXj4M2hwa7eA</a>
  </p>
  <h2>Questions</h2>
  <p>
    Contact John Belisle<br>
    <a href="mailto:belislefamilyreunion@gmail.com">belislefamilyreunion@gmail.com</a><br>
  </p>
</div>
{{ end }}
